{% extends "base.html.twig" %}
{% block title %}
{{title}}

{% endblock %}

{% block Rtitle %}
{{title}}

{% endblock %}


{% block content %}

		<article>
				<h1>{{ title }}</h1>
			
			<div class="container">	
                <div style="display: flex; flex-direction: column">
                    <h2>Introduktion</h2>
                        <p></p>
                    <h2>Phpmetrics</h2>
                        <p></p>
                    <h2>Scrutinizer</h2>
                        <p></p>
                    <h2>Förbättringar</h2>
                        <p></p>
                    <h2>Diskussion</h2>
                        <p></p>
                </div>
			</div>
		</article>
{% endblock %}

