{% extends "base.html.twig" %}
{% block title %}
	Presentation
{% endblock %}

{% block Rtitle %}
	Presentation
{% endblock %}




{% block content %}

<section>
	<nav>
		<ul>
			<li><a href="./">Presentation</a></li>
			<li><a href="./about">About</a></li>
			<li><a href="./report">report</a></li>
			<li><a href="./card">report</a></li>
		</ul>
	</nav>

	<article>
<div class="container">

	<h1>{{ title }}</h1>

<p>
	Mitt namn är Magnus Östling och kommer från kallinge utanför ronneby.
	
	Gick energiprogrammet i karlskrona på gymnasiet.
	<img style="width: 60%; padding: 1em; float: right;" src="./img/ipanema.jpg" alt="ipanema">
	
	2010 flyttade jag till oslo och bodde där i ca 5 år.
	
	Jag testade på en del olika jobb under den tiden som ex truckförare, flytteman och snickare.
	
	Jag har rest en del också mest i sydostasien och sydamerka.
	
	Jag har ganska många intressen, resor är ett utav
	dom, men det stora intresset har alltid varit fotboll.

	
	Har försökt ta upp mitt löparintresse igen då man har börjat bli fet, ett pågående projekt.
	
	Utöver det så umgås jag med familj och kompisar.
</p>

</p>
</div>

    </article>
</section>

{% endblock %}

