{% extends "base.html.twig" %}
{% block title %}
	Presentation
{% endblock %}

{% block Rtitle %}
	Presentation
{% endblock %}


{% block content %}

	<section>
		<nav>
			<ul>
				<li><a href="./">Presentation</a></li>
				<li><a href="./about">About</a></li>
				<li><a href="./report">report</a></li>
                <li><a href="./card">Card</a></li>
                <hr>
			</ul>
		</nav>

		<article>
			<div class="container">

				<h1>{{ title }}</h1>
				<h2>Cards undersidor</h2>
				<ul>
                	<li><a href="./card/deck">card/deck</a></li>
					<li><a href="./card/deck/shuffle">card/deck/shuffle</a></li>
					<li><a href="./card/deck/draw">card/deck/draw</a></li>
                	<li><a href="./card/deck/draw/">Card</a></li>
				</ul>
		</div>

	</article>
</section>{% endblock %}

