{% extends "base.html.twig" %}
{% block title %}
	Report
{% endblock %}

{% block Rtitle %}
{{title}}

{% endblock %}


{% block content %}

	<article>
<div class="container">
	<div style="display:flex; flex-direction: column;">
		<a href="#Kmom01">kmom01</a>
		<a href="#Kmom02">kmom02</a>
		<a href="#Kmom03">kmom03</a>
		<a href="#Kmom04">kmom04</a>
		<a href="#Kmom05">kmom05</a>
		<a href="#Kmom06">kmom06</a>
	
		<h2 id="Kmom01"> Kmom01</h2>
			<h3>Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering.</h3>
				<p>Jag har gått kursen oopython och där fick man en god kunskap i vad objekorinterad programmering innebär.
				Jag tror det inte är så stor skillnad mellan språken, grundpricipen är nog detsamma.</p>
			<h3>Berätta kort om PHPs modell för klasser och objekt. Vilka är de grunder man behöver veta/förstå för att kunna komma igång och skapa sina första klasser?.</h3>
				<p>Som guiden gick igenom så skapas ett objekt utifrån en klass som kan ses som en mall.
				Ett objekt har medlemsvariabler och metoder.
				När man har skapat ett objekt så kallas det för en instans av klassen.</p>

			<h3>Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften me/report, hur uppfattar du den?</h3>
				<p>Min reflektion över strukturen är att den var väldigt logisk och enkel att förstå.
				</p>
			<h3>Med tanke på artikeln “PHP The Right Way”, vilka delar in den finner du extra intressanta och värdefulla? Är det några särskilda områden som du känner att du vill veta mer om? Lyft fram några delar av artikeln som du känner mer värdefulla.</h3>
				<p>“PHP The Right Way” ser ut att ha en väldigt bra översikt på vad det innebär att programmera med php.
				Jag har inte hunnit läsa så mycket av artikeln men Code style delen var ett intressant läsning.
				Det förklaras i texten på vikten att man bör ha en gemmensam kod stil för att underlätta för andra utvecklare som kommer ta del av sin kod.</p>
			<h3>Vilken är din TIL för detta kmom?</h3>
				<p>Att få jobba med ramverket symfony var nytt för mig.
				Det var en lagom stor uppgift där grunderna gicks igenom med artiklar som var väldigt intressanta.
				Man arbetade med template engine twig som var ett trevligt verktyg att använda sig utav.
				Jag ser framemot att få jobba mer med ramverket i kommande kmom.</p>


			<h2 id="Kmom02">Kmom02</h2>
			<h3>Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering.</h3>
			<p>Jag har gått kursen oopython och där fick man en god kunskap i vad objekorinterad programmering innebär.
								Jag tror det inte är så stor skillnad mellan språken, grundpricipen är nog detsamma.</p>
			<h3>Berätta kort om PHPs modell för klasser och objekt. Vilka är de grunder man behöver veta/förstå för att kunna komma igång och skapa sina första klasser?.</h3>
			<p>Som guiden gick igenom så skapas ett objekt utifrån en klass som kan ses som en mall.
								Ett objekt har medlemsvariabler och metoder.
								När man har skapat ett objekt så kallas det för en instans av klassen.</p>

			<h3>Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften me/report, hur uppfattar du den?</h3>
			<p>Min reflektion över strukturen är att den var väldigt logisk och enkel att förstå.
			</p>
			<h3>Med tanke på artikeln “PHP The Right Way”, vilka delar in den finner du extra intressanta och värdefulla? Är det några särskilda områden som du känner att du vill veta mer om? Lyft fram några delar av artikeln som du känner mer värdefulla.</h3>
				<p>“PHP The Right Way” ser ut att ha en väldigt bra översikt på vad det innebär att programmera med php.
								Jag har inte hunnit läsa så mycket av artikeln men Code style delen var ett intressant läsning.
								Det förklaras i texten på vikten att man bör ha en gemmensam kod stil för att underlätta för andra utvecklare som kommer ta del av sin kod.</p>
			<h3>Vilken är din TIL för detta kmom?</h3>
			<p>Att få jobba med ramverket symfony var nytt för mig.
								Det var en lagom stor uppgift där grunderna gicks igenom med artiklar som var väldigt intressanta.
								Man arbetade med template engine twig som var ett trevligt verktyg att använda sig utav.
								Jag ser framemot att få jobba mer med ramverket i kommande kmom.</p>

			<h2 id="Kmom03">Kmom03</h2>
			<h3>Berätta hur det kändes att modellera ett kortspel med flödesdiagram och psuedokod. Var det något som du tror stödjer dig i din problemlösning och tankearbete för att strukturera koden kring en applikation?.</h3>
				<p>Det var en bra uppgift då man verkligen fick tänka till och därefter kändes själva koden lättare att få ihop med stöd utav flödesdiagram och psuedokod. 
				Flödesshema kändes mer användbart då man får mer av en bild på hur spelet kommer att fungera.
				Det är något jag kommer att använda mig oftare utav när jag bygger egna projekt.
				Pseudokod är nog något jag får titta närmare på som jag kan utveckla.
				I mitt tycke så känns flödesshema mer relevant att lära sig bra.
				</p>


			<h3>Berätta om din implementation från uppgiften. Hur löste du uppgiften, är du nöjd/missnöjd, vilken förbättringspotential ser du i din koden, dina klasser och applikationen som helhet?</h3>
				<p>Jag löste uppgiften med att skapa en ny kontroller och en ny klass för själva spelet. 
				Jag valde att när man startar spelet så ges ett kort till spelaren. 
				Därefter kan man välja mellan 3 olika alternaitv, stanna, ta ett nytt kort eller starta om från början.När man trycker på stop så är det dealerns tur.</p>
			<h3>Vilken är din känsla för att koda i ett ramverk som Symfony, så här långt in i kursen?</h3>
				<p>Jag tycker det är ett mycket trevligt ramverk att jobba med. 
				Allt har varit väldigt logiskt hitills och det finns bra info att hitta på nätet om man undrar över något.
				Symfony hart en väldigt bra hemsida i mitt tycke iallafall.
				Föreläsningarna hjälper även en att få bra kunskap i ramverkets alla delar.
				Det ska bli kul att fortsätta koda i ramverket.</p>
			<h3>Vilken är din TIL för detta kmom?</h3>
				<p>Jag tycker att jag har blivit bättre på att skriva flödesshema vilket var en rolig del att göra på uppgiften.
				Jag känner även att jag börjar förstå mig på symfony bättre också vilket är jättekul att få jobba med.</p>

			<h2 id="Kmom04">Kmom04</h2>
				<h3>Berätta hur du upplevde att skriva kod som testar annan kod med PHPUnit och hur du upplever phpunit rent allmänt.</h3>
					<p>Det var inga konstigheter att göra tester med PHPUnit.
					Dom har en bra hemsida med documentationer om hur man går tillväga med sina tester. 
					Det var en bra del av uppgiften att få göra lite tester. 
					</p>
				<h3>Hur väl lyckades du med kodtäckningen av din kod, lyckades du nå mer än 90% kodtäckning?</h3>
					<p>På Card, Deck och Person klassen fick jag över 90% kodtäckning men det finns mer att test i andra klasser. 
					Jag gjorde bara tester på klasserna som spelet game använde sig utav.
					Det finns mer att testa i controllern, så det är något jag borde göra tester på senare om jag hinner med allt.</p>
				<h3>Upplever du din egen kod som “testbar kod” eller finns det delar i koden som är mer eller mindre testbar och finns det saker som kan göras för att förbättra kodens testbarhet?</h3>
					<p>Det gick bra att göra tester men tycker att det är lättare att göra tester på metoder som returnerar ett värde. 
					I metoder som inte returnerar ett värde fick jag tänka till lite men det gick bra tillsut tycker jag.
					PHPUnit har en bra hemsida med documentationer, vilket gjorde det lättare att förstå vilka assert man kan använda sig utav. </p>
				<h3>Valde du att skriva om delar av din kod för att förbättra den eller göra den mer testbar, om så berätta lite hur du tänkte.</h3>
					<p>Nej jag ändrade inte på något.</p>
				<h3>Fundera över om du anser att testbar kod är något som kan identifiera “snygg och ren kod”.</h3>
					<p>Det stämmer nog bra att om man har tester i åtanke från början, så blir det renare och snyggare kod. 
					Det blir iallafall lättare att testa sin kod om man redan från början har det i åtanke.</p>
				<h3>Vilken är din TIL för detta kmom?</h3>
					<p>Tester med phpunit var nytt för mig, vilket var kul att jobba med.
					Det var en del i utvecklingsmiljön som var nytt för mig också, som composer csfix, lint och phpdoc.
					Det verkar vara bra verktyg att använda sig utav som kommer till bra nytta.  </p>

			<h2 id="Kmom05">Kmom05</h2>
				<h3>Gick det bra att jobba igenom övningen med Symfony och Doctrine. Något särskilt du tänkte/reagerade på under övningen?</h3>
					<p>Det gick bra, övningen gick igenom Doctrine väldigt bra och det var inga konstigheter alls.</p>
				<h3>Berätta om din applikation och hur du tänkte när du byggde upp den. Tänkte du något speciellt på användargränssnittet? Gick det bra att jobba med ORM i CRUD eller vad anser du om det?</h3>
					<p>Min application är bygd som så att det finns en start sida. Och där kan man välja mellan att lägga till eller kolla på alla böcker som redan är tillagda.
					Inne på create sidan så ska man skriva in detaljer om en bok i ett formulär.När man trycker på knappen "lägg till" så skickas man till sidan /bibliotek/show som visar alla tillagda böcker i en tabell.
					I tabellen kan man trycka på id och då kommer man in på just den boken där man ser bokens titel, bild, ISBN. 
					Där finns också 2 olika knappar delete och redigera.
					Om man trycker på delete knappen så raderas boken.
					När man trycker på redigera knappen så kommer man till en ny sida med ett formulär.
					Och där kan man välja att redigera bokens detaljer. 
					</p>

				<h3>Berätta om du gjorde (delar av) extrauppgiften med användare och login.</h3>
					<p>Nej jag hann tyvärr inte med det.</p>
				<h3>Vad är din uppfattning om ORM så här långt och relatera gärna till andra sätt att jobba med applikationskod mot databaser?</h3>
					<p>Det känns som ett smart sätt att jobba med databaser med. 
					Det gick snabbt att komma igång med arbetssättet och var väldigt lärorikt.</p>
				<h3>Vilken är din TIL för detta kmom?</h3>
					<p>Ramverket Doctrine var helt nytt för mig och det var roligt att börja använda sig utav det.
						Arbetssätter med ORM implementationen var nytt också för mig och var väldigt lärorikt att få börja jobba med.
						Alla artiklar relaterade till uppgifterna var väldigt bra och gav en bra introduktion till Doctrine.
						Att göra detta med crud i symfony var en väldigt bra uppgift och jag ser framemot kommande kmom.
					</p>


						<h2 id="Kmom06">Kmom06</h2>
				<h3>Gick det bra att jobba igenom övningen med Symfony och Doctrine. Något särskilt du tänkte/reagerade på under övningen?</h3>
					<p>Det gick bra, övningen gick igenom Doctrine väldigt bra och det var inga konstigheter alls.</p>
				<h3>Berätta om din applikation och hur du tänkte när du byggde upp den. Tänkte du något speciellt på användargränssnittet? Gick det bra att jobba med ORM i CRUD eller vad anser du om det?</h3>
					<p>Min application är bygd som så att det finns en start sida. Och där kan man välja mellan att lägga till eller kolla på alla böcker som redan är tillagda.
					Inne på create sidan så ska man skriva in detaljer om en bok i ett formulär.När man trycker på knappen "lägg till" så skickas man till sidan /bibliotek/show som visar alla tillagda böcker i en tabell.
					I tabellen kan man trycka på id och då kommer man in på just den boken där man ser bokens titel, bild, ISBN. 
					Där finns också 2 olika knappar delete och redigera.
					Om man trycker på delete knappen så raderas boken.
					När man trycker på redigera knappen så kommer man till en ny sida med ett formulär.
					Och där kan man välja att redigera bokens detaljer. 
					</p>

				<h3>Berätta om du gjorde (delar av) extrauppgiften med användare och login.</h3>
					<p>Nej jag hann tyvärr inte med det.</p>
				<h3>Vad är din uppfattning om ORM så här långt och relatera gärna till andra sätt att jobba med applikationskod mot databaser?</h3>
					<p>Det känns som ett smart sätt att jobba med databaser med. 
					Det gick snabbt att komma igång med arbetssättet och var väldigt lärorikt.</p>
				<h3>Vilken är din TIL för detta kmom?</h3>
					<p>Ramverket Doctrine var helt nytt för mig och det var roligt att börja använda sig utav det.
						Arbetssätter med ORM implementationen var nytt också för mig och var väldigt lärorikt att få börja jobba med.
						Alla artiklar relaterade till uppgifterna var väldigt bra och gav en bra introduktion till Doctrine.
						Att göra detta med crud i symfony var en väldigt bra uppgift och jag ser framemot kommande kmom.
					</p>

	</div>

    </article>
</div>

{% endblock %}

