{% extends "base.html.twig" %}
{% block title %}
	Report
{% endblock %}

{% block Rtitle %}
{{title}}

{% endblock %}


{% block content %}

	<article>
<div class="container">
<ul>
	<li><a href= {{ asset('./bibliotek/create') }}>Lägg till bok</a></li>
	<li><a href= {{ asset('./bibliotek/show') }}>Alla böcker</a></li>
</ul>
	
    </article>
</div>

{% endblock %}

